<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="card mt-3">
        <div class="card-body">
          <h5 class="card-title text-center">Sign In</h5>
          <!-- since we are using angular reactive forms, form validation should be written somewhere in the controller. So required attribute is not written here. To know differences between template driven forms (ngModel,..) and reactive forms, please go through https://blog.angular-university.io/introduction-to-angular-2-forms-template-driven-vs-model-driven/ -->
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="inputEmail">Email address</label>
              <input type="email" class="form-control" id="inputEmail" formControlName="email" aria-describedby="emailHelp" placeholder="Enter email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" autofocus email>
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required.</div>
                <div *ngIf="f.email.errors.email">Invalid email format.</div>
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword">Password</label>
              <input type="password" class="form-control" id="inputPassword" formControlName="password" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
              </div>
            </div>
            <!-- <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div> -->
            <div class="form-group">
              <a routerLink="/signup">or register?</a>
            </div>
            <div class="row">
              <div class="col">
                <button type="submit" class="btn btn-primary" [disabled]="loading">Sign in</button>
              </div>
              <div class="col">
                <!-- Button trigger modal -->
                <a href data-toggle="modal" data-target="#forgotPassword" (click)="resetModal()">
                  Forgot password?
                </a>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="forgotPassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form [formGroup]="forgotPassForm" (ngSubmit)="sendEmail()">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Please enter your registered email address.</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="alert alert-{{ sendEmailMessage.status }}" *ngIf="sendEmailMessage.msg">
            {{ sendEmailMessage.msg }}
          </div>
          <div class="form-group">
            <label for="requestEmail">Email address</label>
            <input type="email" class="form-control" id="requestEmail" formControlName="requestEmail" aria-describedby="emailHelp" placeholder="Enter email" [ngClass]="{ 'is-invalid': emailSubmitted && requestEmailError.requestEmail.errors }" autofocus email>
            <div *ngIf="emailSubmitted && requestEmailError.requestEmail.errors" class="invalid-feedback">
              <div *ngIf="requestEmailError.requestEmail.errors.required">Email is required.</div>
              <div *ngIf="requestEmailError.requestEmail.errors.email">Invalid email format.</div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" [disabled]="emailLoading">Send Email</button>
        </div>
      </form>
    </div>
  </div>
</div>
