<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="card mt-3">
        <div class="card-body">
          <h5 class="card-title text-center">Change Password.</h5>
          <form [formGroup]="changePassForm" class="form-signin" (ngSubmit)="changePassword()">
            <div class="form-group">
              <label for="password">New Password</label>
              <input  type="password" id="password" formControlName="password" class="form-control" placeholder="Enter Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" autofocus>
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required.</div>
              </div>
            </div>
            <div class="form-group">
              <label for="confirmPassword">Repeat Password</label>
              <input  type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control" placeholder="confirmPassword" [ngClass]="{ 'is-invalid': submitted && changePassForm.hasError('notSame') }">
              <div *ngIf="submitted && changePassForm.hasError('notSame')" class="invalid-feedback">
                <div *ngIf="changePassForm.hasError('notSame')">Passwords do not match.</div>
              </div>
            </div>
            <button class="btn btn-primary" type="submit" [disabled]="loading">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
