<!--The content below is only a placeholder and can be replaced.-->

<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [ngClass]="{active: router.url == '/home'}">
        <a class="nav-link" routerLink="/home">Dashboard</a>
      </li>
    </ul>
    <div class="btn-group">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
        {{ currentUser.first_name }} {{ currentUser.last_name }}
      </button>
      <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
        <button class="dropdown-item" type="button"><a routerLink="/settings">Settings</a></button>
        <button class="dropdown-item" type="button" (click)="logout()"><a href>Logout</a></button>
      </div>
    </div>
  </div>
</nav>

<!-- show the message on success or failure -->
<div class="row justify-content-center mt-3">
  <div class="col-6">
    <alert></alert>
  </div>
</div>

<router-outlet></router-outlet>
